name: Test ci

on:
  push:
    branches: [master,'release-**']
  pull_request:
    branches: [master,'release-**']
  schedule:
    - cron: "0 6 * * *"

jobs:
  ci:
    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 2
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - name: Maximize runner space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: lint
        run: make fmt-check
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install -r requirements/dev.txt
      - name: Test with pytest
        run: |
          docker-compose -f docker-compose.yaml up -d
          sleep 20
          pytest -s -v -k "not SSL" --cov=../nebula3 --cov-report=xml --cov-append
        working-directory: tests
      - name: Test SSL connection with pytest
        run: |
          enable_ssl=true docker-compose -f docker-compose-ssl.yaml up -d
          sleep 20
          pytest -s -v -k "SSL" --cov=../nebula3 --cov-report=xml --cov-append
        working-directory: tests
      - name: Test example
        run: |
          docker-compose -f ../tests/docker-compose.yaml up -d
          sleep 20
          for f in *.py; do python "$f"; done
        working-directory: example
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./tests/coverage.xml
